<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <properties>
        <!--文件输出格式-->
        <property name="PATTERN">%d{HH:mm:ss.SSS} [%t] |-%-5level [%thread] %c [%L] -| %msg%xEx%n</property><!-- 这里的logs为项目根目录下的logs文件夹 -->
        <property name="PATTERN_HIGHLIGHT">%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=black, DEBUG=green, TRACE=blue}</property>
    </properties>

    <appenders>
        <console name="CONSOLE" target="system_out">
            <PatternLayout pattern="${PATTERN}"/>
        </console>
        <RollingFile name="RollingFileInfo" fileName="${sys:user.home}/logs/info_boot_mybatisp.log"
                     filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i_boot_mybatisp.log.gz">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="${sys:user.home}/logs/error_boot_mybatisp.log"
                     filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i_boot_mybatisp.log.gz">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <logger name="cn.bysonia.bootmybatisp" level="debug"></logger>
        <logger name="org.springframework" level="INFO"></logger>
        <root level="info">
            <appenderref ref="CONSOLE"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>
</configuration>