<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>springsecurity</title>
</head>
<body>
    <ul>
        <label>level1</label>
        <li>
            <a href="/level1/1">test1</a>
            <a href="/level1/2">test2</a>
            <a href="/level1/3">test3</a>
        </li>
    </ul>
    <ul>
        <label>level2</label>
        <li>
            <a href="/level2/1">test1</a>
            <a href="/level2/2">test2</a>
            <a href="/level2/3">test3</a>
        </li>
    </ul>
    <ul>
        <label>level3</label>
        <li>
            <a href="/level3/1">test1</a>
            <a href="/level3/2">test2</a>
            <a href="/level3/3">test3</a>
        </li>
    </ul>
    <a href="/logout">注销</a>
</body>
</html>